.player__body {
  display: flex;
}

@media (max-width: 700px) {
  .player__body {
    display: flex;
  }
}

@media (max-width: 700px) {
  .player__body {
    display: flex;
  }
}

@media (max-width: 700px) {
  .player__body {
    display: flex;
  }
}
